body{
    
    background-color:rgb(237, 239, 252);
}
header{
    height: 130px;
    background-color:rgb(200, 206, 231); 

}
#logo { 
    float: left;
    width: 100px;
    height: 100px;

   }
#name{
    font-size: 30px;
}
nav div{
    background-color:rgb(214, 220, 247);  
}

#content {
    background-color:rgb(202, 206, 231); 
   }
   #content2{
    background-color:rgb(202, 206, 231); 
   }
   #content3{
    background-color:rgb(202, 206, 231); 
   }
   table{
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
    }
    table, td, th {
    border: 2px solid #1c286b;
    }
    .z{
        background-color: #b275da;
    }
    .nh{
        background-color: #89da75;
    }
    .ch{
        background-color: #da75b8;
    }
    td, th {
    height: 35px;
    }
    th {
    background-color: #6acffd;
    }
    footer{
        background-color:rgb(200, 206, 231);
    }
@media all and (orientation: landscape),(min-width: 768px){
    nav div{
        background-color:rgb(44, 228, 235); 
    }
    #content {
        background-color:rgb(166, 233, 250); 
       }
       #content2 {
        background-color:rgb(166, 233, 250); 
       }
       #content3 {
        background-color:rgb(166, 233, 250); 
       }
    footer{
        height:100px; 
    }
}
